.image1{
    width: 100%;
    height: 100%;
}

.icon{
    border-radius: 10px;
    background: #222831;
    position: relative;
    border: solid 10px rgb(51, 48, 48);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -100px;
    z-index: +1;
} 

.call{
    display: flex;
    margin-left:auto;
    border: solid 1px black;
    padding: 20px;
    justify-content:center;
    align-items: center;
}
.call1{
    margin: 0px 15px;
    padding: 10px;
}

.icon1{
    display: flex;
    margin: 10px 15px 15px;
    padding: 20px;
    align-items: center;
    flex-shrink: 0;
    justify-content:center;
}

.heading{
    text-align: center;
    color: #222831;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 40px */
    text-transform: capitalize;
}

.icon2{
        text-align: center;
        margin: 0px 15px;
}

.product{
            display: flex;
            padding: 30px 20px;
            justify-content: space-around;
            border-radius: 10px 10px 0px 0px;

}
.product1{
    display: flex;
    text-align: left;
    font-size: 16px;
    margin: 0px;
    justify-content: space-around;

}

.form{
    margin: 10px auto;
    border-style: hidden;
    border-bottom: 3px solid #fff;
    background-color: #ffffff;
    color: #fff;
    width: 50%;
    font-size: 16px;
    padding-bottom: 30px;
    display:flex;
    justify-content:space-between;
    flex-shrink: 0;
    border-radius: 10px;
}

.form1{
    background-color: #ffffff;
    width: 100%;
    padding: 40px;
    margin: 40px auto;
}

.hour{
    display: flex;
    justify-content: center;
    margin: 24px auto;
    text-align: left;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: center;
    margin: 24px;
    padding: 50%;
    text-align:center;
    flex-wrap: wrap;
}
.arrow1{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0px 0px 50px;
}
.arrow{
    height: 10px auto;
    padding: 10px;
    margin: 0px 10px;
    width: 20px;
    border-radius: 2px;
    border: 1.5px solid #222831;
    background: #FFF;
}