.icon{
    position: relative;
    border: solid 10px rgb(51, 48, 48);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -100px;
    z-index: +1;
} 

.call{
    margin-left: auto;
    margin-left: auto;
    display: block;

}
